/* icomoon */
@font-face {font-family: 'icomoon';src:url('/fonts/icomoon.eot');src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),	url('/fonts/icomoon.woff') format('woff'),	url('/fonts/icomoon.ttf') format('truetype'),	url('/fonts/icomoon.svg#icomoon') format('svg');font-weight: normal;font-style: normal;}
[data-icon]:before {font-family: 'icomoon';content: attr(data-icon);speak: none;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;}

* {-moz-box-sizing: border-box;box-sizing: border-box}
ul {margin: 0;padding: 0;}

html {padding: 0;margin: 0;height: 100%;width: 100%;font-size: 16px;font-family: 'Open Sans',sans-serif;color: #ccc;}
body {padding: 0;margin: 0;height: 100%;background: url('/img/background/bg2.png') center center no-repeat fixed; }

input {outline:none;background: #383838;color: #ADADAD;border: 1px solid #808080;margin-bottom: .5em;padding: .5em;width: 100%;border-radius: .6em;font-size: inherit;}

h2 {padding: .5em;color: #ADADAD;font-variant: small-caps;font-weight: normal;margin: 0;font-size: 1.8em;text-shadow: 0 3px 3px #000;border-bottom: 1px solid #888;background: rgba(22, 22, 22, 0.7);}
.commands {float:right;margin-right: -.1em;}
.commands a {color: #797979;font-size: 0.84em;text-decoration: none;margin-left: .5em;}
.commands a:hover {color:#8ABB7D;}

.alert {padding: 1em;}
.alert.error {background: #5A1717;color: #F00;}
.alert.success {background: #1B501B;color: #66BD66;}
.alert .close {float: right;color: rgba(255, 255, 255, 0.5);text-decoration: none;font-size: 1.5em;font-weight: bold;margin: -.3em 0;}
.alert .close:hover {color: rgba(255, 255, 255, 0.8);}

#login {padding: 1em;width: 300px;margin: 2em auto;background: rgba(255, 255, 255, .2);border-radius: 1em;box-shadow: 0 0 2em #000;}
#login .title {color: #B66868;font-size: 1.5em;margin-bottom: .5em;}

#wrapper {overflow: hidden;min-height: 100%;}
.col {width: 28em;padding-bottom: 10000px;margin-bottom: -10000px;margin-left: 2em;background: rgba(31, 31, 31, 0.8);border: 0.5em solid rgba(255, 255, 255, 0.2);border-top: none;}

/* Logout, prefs, etc */
.col .head {background: rgba(133, 199, 236, .2);width: 100%;padding: 1em;color: #DDEAEE;}
.col .head .commands {font-size: 1.4em;margin-top: -.2em;}
.col .head .commands a {color: #CCC;}
.col .head .commands a:hover, .col .head .commands a.current {color: #59C7D1;}
.col .head .commands .logout:hover {color:#E77F7F;}

.col .panel {padding: .5em 1em;}
.col .panel button {cursor: pointer;text-align: left;background: rgba(133, 199, 236, .2);color: #B6D8DF;font-size: 1em;border: none;border-left: .5em solid #467480;padding: .5em 1em .5em .5em;width: 45%;}
.col .panel button:hover {background: rgba(37, 100, 32, 0.4);border-color: #44A33D;color: #A7CFA8;}

[data-section] {display: none}


/* To-do list */
#todo-list {min-height: 100%;}
#todo-list li {padding: .5em 1em;background: rgba(34, 34, 34, .4);display: block;border-bottom: 1px solid #535353;box-shadow: inset 1px 2px 6px #000;}
#todo-list li:nth-child(odd) {background: rgba(9, 9, 9, .4);}
#todo-list li:hover {color: #C4C4C4;background: #2B2020;}

#todo-list div {transition: 0.2s;-webkit-transition: 0.2s;}
#todo-list div:focus {outline:none;}
#todo-list.showDelete div {display: block;margin-left: 2em}

#todo-list .delete {display: none;float: left;margin-right: 1em;text-decoration: none;color:#742A2A;}
#todo-list .delete:hover {color: #D85E5E}
#todo-list .delete:before {font-family: 'icomoon';content: '';}
#todo-list.showDelete .delete {display: block;}

#todo-list .checkbox {float: right;cursor: pointer;margin-top: .1em;}
#todo-list .checkbox:hover {color:#8ABB7D;}
#todo-list .checkbox:before {font-family: 'icomoon';content: '';}
#todo-list .checkbox.checked:before {content: '';}

/* background-gallery */
#background-gallery img {width: 45%;margin: 1em 0;border: 1px solid #8D8D8D;padding: .2em;transition: 1s;-webkit-transition: 1s;}
#background-gallery img:hover {border-color: #4777AA;background-color: #4777AA;}
#background-gallery a:nth-child(even) {margin-left: 10%;}